:root {
    --color-light: #F8F4E1;
    --color-dark: #4E3620;
    --color-muted: #897853;
    --color-accent: #C8EED9;
    --color-dark-accent: #c8963a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-light);
    background-image: url("public/img/bg9.jpg");
    background-size: cover;
    // background-attachment: fixed;
    color: var(--color-dark);
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
    text-decoration: none;
    border-radius: 999px;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;



    &--primary {
        background-color: var(--color-dark);
        color: var(--color-light);
        border: 1px solid var(--color-dark-darks);

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-dark);
            border: 1px solid var(--color-dark-accent);
        }
    }

    &--ghost {
        background: none;
        color: var(--color-dark);
        border: 1px solid var(--color-muted);
        padding: 0.85rem 2rem;

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-dark);
            border: 1px solid var(--color-dark-accent);
        }
    }

}